services:
  client:
    image: cyberark/conjur-cli:8
    entrypoint: sleep
    command: infinity
    environment:
      CONJUR_APPLIANCE_URL:
      CONJUR_ACCOUNT:
      CONJUR_AUTHN_LOGIN:
      CONJUR_AUTHN_API_KEY:
      CONJUR_SSL_CERTIFICATE:
    volumes:
      - $PWD/conf/policy:/conf/policy

  terraform:
    build:
      context: .
      dockerfile: Dockerfile.terraform

    entrypoint: sleep infinity
    environment:
      CONJUR_AUTHN_LOGIN:
      CONJUR_AUTHN_API_KEY:
      TF_LOG: "${TF_LOG:-INFO}"
      TF_VAR_conjur_api_key:
      TF_VAR_conjur_ssl_cert:
      TF_VAR_conjur_appliance_url:
      TF_VAR_conjur_account:
      TF_VAR_conjur_authn_login:
      TF_VAR_conjur_secret_variable:
      TF_VAR_conjur_authn_type:
      TF_VAR_conjur_host_id:
      TF_VAR_conjur_authn_service_id:
      TF_VAR_conjur_client_id:
      TF_VAR_authn_jwt_token: "${JWT_TOKEN}"
      GCP_TOKEN: ${GCP_TOKEN}
    working_dir: /src
    volumes:
      - $PWD:/src
      - $PWD/dist/terraform-provider-conjur_linux_amd64_v1/:/usr/share/terraform/plugins/terraform.example.com/cyberark/conjur/${CONJUR_PLUGIN_VERSION}/linux_amd64/
      - $PWD/dist/terraform-provider-conjur_linux_arm64_v8.0/:/usr/share/terraform/plugins/terraform.example.com/cyberark/conjur/${CONJUR_PLUGIN_VERSION}/linux_arm64/

  goreleaser:
    build:
      context: .
      dockerfile: Dockerfile.goreleaser
    environment:
      CONJUR_PLUGIN_VERSION:
    volumes:
      - .:/terraform-provider-conjur
    working_dir: /terraform-provider-conjur
  
  mock-jwt-server:
    image: cyberark/mock-jwt-server:latest
    ports:
      - 8080:8080
    environment:
      AUDIENCE: "conjur"
      EXTRA_CLAIMS: "user_id=12345;username=example_user"
