# Ignore queries in our docker compose environments, which are only for demo/testing purposes
exclude-paths:
  - terraform-provider-conjur/docker-compose.*
  - terraform-provider-conjur/demo/*

exclude-queries:
  # The below queries are all INFO level and not security-related
  - 59312e8a-a64e-41e7-a252-618533dd1ea8 # Output Without Description
  - 2a153952-2544-4687-bcc9-cc8fea814a9b # Variable Without Description
  - fc5109bf-01fd-49fb-8bde-4492b543c34a # Variable Without Type
  - 1e434b25-8763-4b00-a5ca-ca03b7abbb66 # Name Is Not Snake Case
